<div class="h-screen w-full p-6 max-wmx-auto">
  <mat-icon
    class="flex justify-start text-green-900 w-10 h-10"
    routerLink="/home"
    >arrow_circle_left</mat-icon
  >

  <h2 class="flex justify-center text-3xl text-[#234F36] mb-6">Ranking</h2>
  <table class="w-full bg-white rounded-lg overflow-hidden">
    <thead class="text-left p-2 text-sm text-[#2D3B32]">
      <tr>
        <th>Nome</th>
        <th>Vitórias</th>
        <th>Derrotas</th>
        <th>Aprov.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of players; let i = index" class="border-t">
        <td class="p-3 flex items-center gap-2">
          {{ p.nome }}
          <mat-icon *ngIf="i === 0" class="text-yellow-500">star</mat-icon>
        </td>
        <td class="p-3">{{ p.vitorias }}</td>
        <td class="p-3">{{ p.derrotas }}</td>
        <td class="p-3">
          {{
            p.vitorias + p.derrotas
              ? ((p.vitorias / (p.vitorias + p.derrotas)) * 100
                | number : "1.0-0")
              : 0
          }}%
        </td>
      </tr>
    </tbody>
  </table>
  <div
    class="fixed bottom-0 left-0 right-0 bg-white py-2"
    style="
      background-image: url('rodape.png');
      background-repeat: repeat-x;
      background-size: auto 70px;
      background-position: center;
    "
  >
    <div class="h-16"></div>
  </div>
</div>
